@import 'tailwindcss';

:root {
  --font-sans:
    'Elza Text', 'Söhne', 'Space Grotesk', 'Inter', 'Segoe UI', system-ui, -apple-system,
    BlinkMacSystemFont, sans-serif;
  --font-mono:
    'Söhne Mono', 'Space Mono', 'IBM Plex Mono', 'SFMono-Regular', ui-monospace, monospace;
  font-family: var(--font-sans);
  color-scheme: dark;
  background-color: #111111;
  color: #d5c4bb;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  --banner-height: 30px;
  --navigation-height: 74px;
  --header-offset: calc(var(--banner-height) + var(--navigation-height));

  /* Figma Color Variables */
  /* Clam Shell */
  --colors-clam-shell-50: #f5f0ee;
  --colors-clam-shell-400: #d5c4bb;
  --colors-clam-shell-500: #cbb7ad;

  /* Dark Neutral */
  --colors-dark-neutral-200: #a28b8a;
  --colors-dark-neutral-400: #786767;
  --colors-dark-neutral-500: #625757;
  --colors-dark-neutral-600: #4c4646;
  --colors-dark-neutral-950: #111111;

  /* Brand */
  --colors-brand-50: #f2ddc4;
  --colors-brand-300: #f1e4c6;
  --colors-brand-600: #f0ebc7;
  --colors-brand-800: #efefc8;
  --colors-brand-950: #eaeec9;

  /* Pastels */
  --colors-pastels-polar-200: #f2fcfb;
  --colors-pastels-green-white-500: #e1e7de;

  /* Borders */
  --colors-border-divider: #c6b3b2;
}

@theme {
  --color-clam-shell-50: var(--colors-clam-shell-50);
  --color-clam-shell-400: var(--colors-clam-shell-400);
  --color-clam-shell-500: var(--colors-clam-shell-500);
  --color-dark-neutral-200: var(--colors-dark-neutral-200);
  --color-dark-neutral-400: var(--colors-dark-neutral-400);
  --color-dark-neutral-500: var(--colors-dark-neutral-500);
  --color-dark-neutral-600: var(--colors-dark-neutral-600);
  --color-dark-neutral-950: var(--colors-dark-neutral-950);
  --color-brand-50: var(--colors-brand-50);
  --color-brand-300: var(--colors-brand-300);
  --color-brand-600: var(--colors-brand-600);
  --color-brand-800: var(--colors-brand-800);
  --color-brand-950: var(--colors-brand-950);
  --color-pastels-polar-200: var(--colors-pastels-polar-200);
  --color-pastels-green-white-500: var(--colors-pastels-green-white-500);
  --color-crt-blue-400: var(--colors-crt-blue-400);
  --color-error-600: var(--colors-error-600);
  --color-border-divider: var(--colors-border-divider);
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #111111;
  color: #d5c4bb;
  font-family: var(--font-sans);
}

#root {
  min-height: 100dvh;
}

.page-gradient {
  background: linear-gradient(90deg, #f5f0ee 0%, #edf5d6 100%);
}
